# **/*.LST
# **/*.#1
# **/*.#2
# **/*.#3
# **/*.M51

**/*cyglink*

lab*/*
project*/*

!lab*/*.asm
!lab*/*.out
!lab*/*.INC
!lab*/*.md
!lab*/*.png
!lab*/*.c
!lab*/*.h

!project*/*.asm
!project*/*.out
!project*/*.INC
!project*/*.md
!project*/*.png

notes/*
