# **/*.LST
# **/*.#1
# **/*.#2
# **/*.#3
# **/*.M51

**/*cyglink*

lab*/*
project*/*

!lab*/*.OBJ
!lab*/*.asm
!lab*/*.wsp
!lab*/*.out
!lab*/*.INC

!project*/*.OBJ
!project*/*.asm
!project*/*.wsp
!project*/*.out
!project*/*.INC
